.summery-card {
  margin: 0px 20px;
  border-radius: 10px;
  background: linear-gradient(45deg, var(--main-color), var(--main-color-dark), var(--main-color));
  color: white;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  position: relative;
}
