.weather-card {
    margin: 10px 20px;
    border-radius: 10px;
    /* background: linear-gradient(45deg, #0077ff, #0033ff, #00aaff); */
    background: linear-gradient(45deg, var(--main-color), var(--main-color-dark), var(--main-color));
    color: white;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    position: relative;
    z-index: 1;
  }
  
  /* .weather-card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    transform: translateX(-100%);
    animation: wave 10s linear infinite;
  }
  
  @keyframes wave {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  } */
  
  .weather-card:hover {
    transform: translateY(-5px);
  }
  
  .weather-image {
    border-radius: 5px;
    /* background-color: rgba(250, 235, 215, 0.3); */
    /* box-shadow: 4px 8px 8px 4px rgba(0, 0, 0, 0.3); */
    width: 100px;
  }
  
  .cardHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .day {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .temperature,
  .windspeed {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .description {
    font-weight: bold;
  }
  .summaryBtn {
    background-color: rgba(250, 235, 215, 0.3);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    width: 100%;
  }
  .temperaturemain {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .arrow {
    padding: 0px 10px;
    margin-right: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
  }
  .arrow-up {
    background-image: url("/src/icons/expand-arrow-rotated.png");
  }
  .arrow-down {
    background-image: url("/src/icons/expand-arrow.png");
  }
  