:root {
  --main-color: #4dabf7;
  --main-color-light: #dee2e6;
  --main-color-dark: #4c6ef5;
  --main-color-white: #f8f9fa;
  --main-color-gray: #343a40;
}

html, body {
  margin: 0;
  padding: 0;
  color: #343232;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--main-color-light);
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.App.flex-start {
  animation: flexTransition 2s ease forwards;
}
@keyframes flexTransition {
  from {
    justify-content: center;
  }
  to {
    justify-content: flex-start;
  }
}

.title-head {
  text-align: center;
  color: var(--main-color-gray);
  padding: 10px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.title-head  h1{
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
}


.search-container {
  margin: 30px 0;
  flex-direction: column;
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: var(--main-color-gray);
  padding: 10px;
  margin-top: 10px;
}

.summary-card-container {
  position: relative;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  padding: 0;
}
.copyright {
  position: relative;
  top: -25px;
  font-size: 20px;
}

.goback {
  position: relative;
  width: 25px;
  height: 25px;

  background-image: url("/src/icons/multiply.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  color: var(--main-color-white);

}
.gobackbtn {
  position: relative;
  margin: 0 5px;
  padding: 0;
  border: 0;
  background: none;
  top: -10px;
}