html {
  width: 100%;
}

.App {
  text-align: center;
  background-color: #F8F8F8;
  
}

body {
  margin: 0;
  padding: 0;
  background-color: #ded9d9;  
  color: #343232;
  font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

h1 {
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  padding: 20px;
  background-color: #F8F8F8;
  /* background-image: url(https://cdn.pixabay.com/photo/2018/04/04/14/45/design-3289984_1280.png); */
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

h2 {
  font-family: Tahoma, sans-serif;
  /* font-weight: bold; */
  padding: 5px;
  background-color: #F8F8F8;  
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.summary-card-container {
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  z-index: -1;
}